.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CSS HSL */
:root {
  --mint-green: hsla(121, 90%, 81%, 1);
  --flickr-pink: hsla(333, 85%, 53%, 1);
  --blue-yonder: hsla(210, 32%, 46%, 1);
  --light-salmon: hsla(18, 100%, 72%, 1);
  --palatinate-purple: hsla(310, 47%, 23%, 1);
}
